#backToHome{
  position: fixed;
  text-decoration: none;
  color: black;
  font-size: 2rem;
  left: 3vw;
  top: 3vh;
  transition: .3s;
}
#backToHome:hover{
  color: white;
}
.header {
  text-align: center;
  padding: 32px;
  background-color: #e6616b;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header>h1{
  font-size: 6rem;
}
.img-container{
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row {
  display: -ms-flexbox;
  display: flex;
  /*-ms-flex-wrap: wrap;*/
  /*flex-wrap: wrap;*/
  padding: 0 4px;
  width: 85%;
}
.column {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  margin: 0 1vw;
}
.caption2{
  position: absolute;
  color: white;
  transform: translate(50%, 80%);
  opacity: 0;
  transition: all .6s ease;
  pointer-events:none;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
    width: 90%;
  }
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}
.column-container{
  margin: 2vh 0;
  transition: all .3s ease;
}
.column-container:hover{
  transform: scale(1.1);
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 60%;
  max-width: 900px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
