.outer-wrap{
  width: 100%;
  /*height: 100vh;*/
  min-height: 100vh;
  background-color: #2c343f;
  position: relative;
}
.inner-wrap{
  padding: 5vh 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*.letter-s{*/
/*  width: 130px;*/
/*  height: 170px;*/
/*  overflow-y: hidden;*/
/*  background-image: url("../img/S.png");*/
/*  !*transform: translateY(-100px);*!*/
/*  background-position: bottom;*/
/*  animation: letterSwitch 5s linear infinite;*/
/*}*/
/*@keyframes letterSwitch {*/
/*  0%{*/
/*    background-position: bottom;*/
/*  }*/
/*  5%{*/
/*    background-position: top;*/
/*  }*/
/*  55%{*/
/*    background-position: top;*/
/*  }*/
/*  60%{*/
/*    background-position: bottom;*/
/*  }*/
/*  100%{*/
/*    background-position: bottom;*/
/*  }*/
/*}*/
/*.letter-s:hover{*/
/*  animation-play-state: paused;*/
/*  transition: background-position 1s ease;*/
/*  background-position: top;*/
/*  !*animation-play-state: running;*!*/
/*  animation: switch 1s ease;*/
/*}*/
/*@keyframes switch {*/
/*  from{*/
/*    background-position: top;*/
/*  }*/
/*  to{*/
/*    background-position: bottom;*/
/*  }*/
/*}*/
.container-text{
  color: white;
}
.icon-wrap{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
/*.text-content{*/
/*  margin-top: 5vh;*/
/*  color: white;*/
/*  display: grid;*/
/*  grid-template-columns: 15vw minmax(200px,15vw) minmax(200px,15vw) minmax(200px,15vw) minmax(200px,15vw) 15vw;*/
/*  grid-template-rows: 10vh 25vh 25vh 25vh;*/
/*  grid-template-areas:*/
/*    "h1 . . .  . ."*/
/*    "h1 html  css  js  python ."*/
/*    "h1 git sql c . ."*/
/*    "h1 csharp java . . .";*/
/*}*/
/*.grid-html{*/
/*  grid-area: html;*/
/*}*/
.grid-css{
  grid-area: css;
}
.grid-js{
  grid-area: js;
}
.grid-python{
  grid-area: python;
}
.grid-git{
  grid-area: git;
}
.grid-sql{
  grid-area: sql;
}
.grid-c{
  grid-area: c;
}
.grid-csharp{
  grid-area: csharp;
}
.grid-java{
  grid-area: java;
}
.wrap{
  width: 300%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
}

.container-skill {
  padding: 50px 0;
  margin: 4vh 4vw;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.chart {
  position: relative;
  display: inline-block;
  color: #999;
  font-size: 20px;
  text-align: center;
}

.chart figcaption {
  padding: 50px 25px;
  width: 190px;
  height: 189.6px;
  border: 20px solid lightgray;
  border-radius: 95px;
  line-height: 50px;
}

.chart img {
  position: absolute;
  max-width: 100px;
  max-height: 100px;
  background-color: #2c343f
}

.html {
  top: 50px;
  left: 45px;
}
.html + svg .outer {
  stroke: #e34f26;
}
.css {
  top: 45px;
  left: 48px;
}
.css + svg .outer {
  stroke: #0d84ce;
}
.javascript {
  max-width: 90px;
  max-height: 90px;
  top: 45px;
  left: 45px;
}
.javascript + svg .outer {
  stroke: #f0e040;
}
.python {
  max-width: 90px;
  max-height: 90px;
  top: 45px;
  left: 45px;
}
.python + svg .outer {
  stroke: #3C78AA;
}
.git {
  max-width: 90px;
  max-height: 90px;
  top: 45px;
  left: 45px;
}
.git + svg .outer {
  stroke: #2E5A8B;
}
.sql {
  max-width: 90px;
  max-height: 90px;
  top: 45px;
  left: 45px;
}
.sql + svg .outer {
  stroke: #00CCFF;
}
.C {
  max-width: 90px;
  max-height: 90px;
  top: 45px;
  left: 45px;
}
.C + svg .outer {
  stroke: #9C033A;
}
.csharp {
  max-width: 90px;
  max-height: 90px;
  top: 45px;
  left: 45px;
}
.csharp + svg .outer {
  stroke: #7F31F2;
}
.java {
  max-width: 90px;
  max-height: 90px;
  top: 45px;
  left: 45px;
}
.java + svg .outer {
  stroke: #6699FF;
}

.chart svg {
  position: absolute;
  top: 0;
  left: 0;
}
.outer {
  fill: transparent;
  stroke: #333;
  stroke-width: 20;
  stroke-dasharray: 534;
  transition: stroke-dashoffset 1s;
  -webkit-animation-play-state: running;
  -moz-transform: rotate(-89deg) translateX(-190px);
}

.chart:hover .outer {
  stroke-dashoffset: 534 !important;
  -webkit-animation-play-state: paused;
}

.chart[data-percent='100'] .outer {
  stroke-dashoffset: 0;
  -webkit-animation: show100 2s;
  animation: show100 2s;
}

.chart[data-percent='80'] .outer {
  stroke-dashoffset: 107;
  -webkit-animation: show100 2s;
  animation: show100 2s;
}

.chart[data-percent='75'] .outer {
  stroke-dashoffset: 133;
  -webkit-animation: show75 2s;
  animation: show75 2s;
}
.chart[data-percent='60'] .outer {
  stroke-dashoffset: 214;
  -webkit-animation: show50 2s;
  animation: show50 2s;
}

.chart[data-percent='50'] .outer {
  stroke-dashoffset: 267;
  -webkit-animation: show50 2s;
  animation: show50 2s;
}

.chart[data-percent='25'] .outer {
  stroke-dashoffset: 401;
  -webkit-animation: show25 2s;
  animation: show25 2s;
}
/* END set initial animation values */

/* Keyframes for the initial animation */
@-webkit-keyframes show100 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes show100 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes show80 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 107;
  }
}

@keyframes show80 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 107;
  }
}

@-webkit-keyframes show75 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 134;
  }
}

@keyframes show75 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 124;
  }
}
@-webkit-keyframes show60 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 214;
  }
}

@keyframes show60 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 214;
  }
}

@-webkit-keyframes show50 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 267;
  }
}

@keyframes show50 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 267;
  }
}

@-webkit-keyframes show25 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 401;
  }
}

@keyframes show25 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 401;
  }
}
